<html>
<head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        function addItem(){
            $('.addItem').show();
            $('.searchItem').hide();
            $('.getItem').hide();
        }
        function searchItem(){
            $('.searchItem').show();
            $('.addItem').hide();
            $('.getItem').hide();
        }
        function addItemSubmit(){
            var content=$('#content').val();
            var childtype=$('#childtype').val()=="null"?null:$('#childtype').val();


            $.ajax({
                type: 'post',
                url: '/additem',
                data: {content:content,childtype:childtype},
                success: function (d) {
                    if(d.status=="OK"){
                        //window.location.replace("/");
                        $('#addItemResult').text(JSON.stringify(d));
                        //console.log(d);
                    }else{
                        $('#addItemResult').text("Add Item Failed:"+JSON.stringify(d));
                        //console.log("f:"+d);
                    }
                }
            });
        }
        function searchSubmit(){
            var timestamp=$('#timestamp').val();
            var limit=$('#limit').val();
            $.ajax({
                type: 'post',
                url: '/search',
                data: {timestamp:timestamp,limit:limit},
                success: function (d) {
                    if(d.status=="OK"){
                        //window.location.replace("/");
                        $('#searchItemResult').text(JSON.stringify(d));
                        console.log(d);
                    }else{
                        //console.log(d);
                        $('#searchItemResult').text("Search Failed:"+JSON.stringify(d));
                    }
                }
            });
        }
        function logout(){
            $.ajax({
                type: 'post',
                url: '/logout',
                data: {},
                success: function (d) {
                    if(d.status=="OK"){
                        window.location.replace("/");
                        //$('#searchItemResult').text(d);
                    }else{
                        $('#indexErr').text("Log out Failed:"+JSON.stringify(d));
                    }
                }
            });
        }
        function getItem(){
            $('.addItem').hide();
            $('.searchItem').hide();
            $('.getItem').show();
        }
        function getItemSubmit(){
            var id=$('#id').val();
            var url='/item/'+id;
            $.ajax({
                type: 'GET',
                url: url,
                success: function (d) {
                    if(d.status=="OK"){
                        //window.location.replace("/");
                        $('#getItemResult').text(JSON.stringify(d));
                    }else{
                        $('#getItemResult').text("Get Failed:"+JSON.stringify(d));
                    }
                }
            });
        }
        $(document).ready(function() {
            $('.addItem').hide();
            $('.searchItem').hide();
            $('.getItem').hide();
        });
    </script>
</head>
<body>
    <table>
        <div id="indexErr"></div>
        <tr><h1>Welcome to Twitter! </h1></tr>
        <tr>
                <td><button onclick="getItem()" type="text">Get Item!</button></td>
        </tr>
        <tr>
                <td><button onclick="addItem()" type="text">Add Item!</button></td>
        </tr>
        <tr>
                <td><button onclick="searchItem()" type="text">Search Item!</button></td>
        </tr>
        <tr>
                <td><button onclick="logout()" type="text">Log Out!</button></td>
               
        </tr>
    </table>
    <table class="getItem">
            <tr>
                    <td>ID:</td><td><input type="text" id="id"></td>
            </tr>
            <tr><td><button onclick="getItemSubmit()" type="text">View Tweet!</button></td></tr>
            <tr><td></td></tr>
    </table>
    <table class="addItem">
            <tr>
                <td>Content:</td><td><input type="textarea" id="content"></td>
            </tr>
            <tr>
                <td>ChildType:</td>
                <td>
                        <select id="childtype">
                            <option value="null">None</option>
                            <option value="retweet">Retweet</option>
                            <option value="reply">Reply</option>
                        </select>
                </td>
                
            </tr>
            <tr><td><button onclick="addItemSubmit()" type="text">Tweet!</button></td></tr>
            <tr><td></td></tr>
    </table>
    <table class="searchItem">
            <tr>
                <td>Timestamp:</td><td><input type="number" id="timestamp"></td>
            </tr>
            <tr>
                <td>Limit:</td><td><input type="number" id="limit"></td>
            </tr>
            <tr><td><button onclick="searchSubmit()" type="text">Search!</button></td></tr>
            <tr><td></td></tr>
    </table>
    <div class="getItem" id="getItemResult"></div>
    <div class="addItem" id="addItemResult"></div>
    <div class="searchItem" id="searchItemResult"></div>
</body>

</html>